//- Team
section.section-66.section-md-90.section-xl-bottom-100
  .container
    h3.text-center Testimonials

    //- Owl Carousel
    .owl-carousel.owl-spacing-1.owl-nav-classic.owl-style-minimal(
    data-items='1', 
    data-md-items='2',
    data-stage-padding='0', 
    data-loop='true', 
    data-margin='30', 
    data-mouse-drag="true", 
    data-nav='true', 
    data-dots='true', 
    data-dots-each='1')
      .item
        +quote-bordered({
          img: 'clients-testimonials-1-68x68',
          header: 'One of The Most Ethical Lawyers I’ve Ever Known...',
          text: 'I’ve never known another lawyer more prepared or focused.  Tom has the ability to dissect a case much like a skilled surgeon, with absolute calm.  Nothing seems to rattle this guy or distract him from his goal on a case, which of course, makes him extremely tough to beat.',
          cite: 'Mark Wilson',
          caption: 'Top Manager'
        })

      .item 
        +quote-bordered({
          img: 'clients-testimonials-2-68x68',
          header: 'LawFirm is One of The Best...',
          text: "Tom Brown is one of those attorneys who has it all-talent and skill, compassion for his clients, and the ability to communicate well with anyone he meets. This is one of the best combinations for a trial attorney and he is one of the best.",
          cite: 'Amanda Eberson',
          caption: 'CEO, Eberson Co.'
        })
='\n'